# 1. Write a pandas program to create and display a one - dimensional array like object containing an array of data using pandas modules

In [2]:
import pandas as pd
import numpy as np
array = np.array([1,2,3,4,5])
series = pd.Series(array)
series

0    1
1    2
2    3
3    4
4    5
dtype: int32

# 2. Write a pandas program to convert a pandas series to python list and it type

In [6]:
import pandas as pd
ds = pd.Series([2,4,6,8,10])
x = ds.tolist
x

<bound method IndexOpsMixin.tolist of 0     2
1     4
2     6
3     8
4    10
dtype: int64>

In [8]:
print(type(x))

<class 'method'>

# 3. Write a pandas program to add, subtract, multiply and divide two pandas series
# sample series : [2,4,6,8,10], [1,3,5,7,9]

In [13]:
import pandas as pd
ds1 = pd.Series([2,4,6,8,10])
ds2 = pd.Series([1,3,5,7,9])
# sum
ds1+ds2

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [15]:
# subtract
ds1 - ds2

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [17]:
# multiply
ds1 * ds2

0     2
1    12
2    30
3    56
4    90
dtype: int64

In [19]:
# divide
ds1/ds2

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

# 4. Write a pandas program to compare the elements of the two pandas series
# sample series : [2,4,6,8,10],[1,3,5,7,9]

In [21]:
import pandas as pd
ds1 = pd.Series([2,4,6,8,10])
ds2 = pd.Series([1,3,5,7,9])
# equal 
ds1 == ds2

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [23]:
#greater
ds1>ds2

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [25]:
# less
ds1<ds2

0    False
1    False
2    False
3    False
4    False
dtype: bool

# 5. Write a pandas program to convert a dictionary to a pandas series
# sample series : {'a' : 100, 'b' : 200, 'c' : 300, 'd' : 400, 'e' : 800}

In [27]:
import pandas as pd
d1 = {'a':100,'b':200,'c':300,'d':400,'e':800}
pd.Series(d1)

a    100
b    200
c    300
d    400
e    800
dtype: int64

# 6. Write a pandas program to convert a numpy array to a pandas series
# sample series :
# numpy array : [10,20,30,40,50]

In [30]:
import numpy as np
import pandas as pd
np = np.array([10,20,30,40,50])
pd.Series(np)

0    10
1    20
2    30
3    40
4    50
dtype: int32

# 7. Write a pandas program to change the data type of a given a column or a series

In [32]:
import pandas as pd
ds = pd.Series([100,200,'python',300.12,400])
ds

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [34]:
print('data type to numeric')
ds1 = pd.to_numeric(ds, errors = 'coerce')
ds1

data type to numeric

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

# 8. Write a pandas program to convert the first column of a dataframe as a series

In [36]:
import pandas as pd
df = pd.DataFrame({'col1' : [0,1,2,3,4,5], 'col2':[1,2,3,4,7,11], 'col3':[7,5,8,12,1,11]})
df

   col1  col2  col3
0     0     1     7
1     1     2     5
2     2     3     8
3     3     4    12
4     4     7     1
5     5    11    11

In [38]:
df.iloc[:,1]

0     1
1     2
2     3
3     4
4     7
5    11
Name: col2, dtype: int64

# 9. Write a pandas program to convert a given series to an array

In [40]:
import numpy as np
import pandas as pd
data = pd.Series([100,200,'python',300.12,400])
data

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [42]:
np.array(data)

array([100, 200, 'python', 300.12, 400], dtype=object)

# 10.Write a pandas program to convert series of list to one series

In [44]:
import pandas as pd
s = pd.Series([
    ['red','green','white'],
    ['red','black'],
    ['yellow']
])
s

0    [red, green, white]
1           [red, black]
2               [yellow]
dtype: object

In [46]:
series = s.apply(pd.Series).stack().reset_index(drop = True)
series

0       red
1     green
2     white
3       red
4     black
5    yellow
dtype: object

# or

In [48]:
import pandas as pd
data = {'name' : ['sally','mary','john'],
       'age': [50,40,34],
       'qualified': [True,False,False]}
idx = ['x','y','z']
df = pd.DataFrame(data, index = idx)
new_df = df.reset_index()
new_df

  index   name  age  qualified
0     x  sally   50       True
1     y   mary   40      False
2     z   john   34      False

# 11. Write a pandas program to sort a given series

In [56]:
import pandas as pd
s = pd.Series([100,200,500,300.12,400])
print('original series')
s

original series

0    100.00
1    200.00
2    500.00
3    300.12
4    400.00
dtype: float64

In [58]:
sorted_series = s.sort_values(ascending
                              = True)
sorted_series

0    100.00
1    200.00
3    300.12
4    400.00
2    500.00
dtype: float64

# 12. Write a pandas program to add some data to an existing series

In [60]:
import pandas as pd
s = pd.Series([100,200,'python',300.12,400])
s

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [64]:
new_s = s.append(pd.Series([500,'php']))
new_s

C:\Users\DELL\AppData\Local\Temp\ipykernel_6072\628914473.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_s = s.append(pd.Series([500,'php']))

0       100
1       200
2    python
3    300.12
4       400
0       500
1       php
dtype: object

# 13. Write a pandas program to create a subset of a given series based on value and condition

In [66]:
import pandas as pd
s = pd.Series([0,1,2,3,4,5,6,7,8,9,10])
s

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

In [68]:
n= 6
new_s = s[s>n]
new_s

7      7
8      8
9      9
10    10
dtype: int64

# 14. Write a pandas program to change the order of index of a given series

In [74]:
import pandas as pd
s = pd.Series(data = [1,2,3,4,5], index = ['A','B','C','D','E'])
s

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [75]:
new_s = s.reindex(index = ['B','A','c','D','E'])
new_s

B    2.0
A    1.0
c    NaN
D    4.0
E    5.0
dtype: float64

# 15. Write a pandas program to create the mean and standard deviation of the data of a given series

In [77]:
import pandas as pd
s = pd.Series([1,2,3,4,5,6,7,8,9,5,3])
s

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int64

In [79]:
s.mean()

4.818181818181818

In [81]:
s.std()

2.522624895547565

# 16. Write a pandas program to get the items of a given series not present in another given series

In [84]:
import pandas as pd
str1 = pd.Series([1,2,3,4,5])
str2 = pd.Series([2,4,6,8,10])
print('items of str1 not present in str2')
print(~str1.isin(str2))

items of str1 not present in str2
0     True
1    False
2     True
3    False
4     True
dtype: bool

# 17. Write a pandas program to get the items which are not common of two given series

In [88]:
import pandas as pd
import numpy as np
str1 = pd.Series([1,2,3,4,5])
str2 = pd.Series([2,4,6,8,10])
sr11 = pd.Series(np.union1d(str1,str2))
sr11

0     1
1     2
2     3
3     4
4     5
5     6
6     8
7    10
dtype: int64

In [91]:
sr22 = pd.Series(np.intersect1d(str1,str2))
sr22

0    2
1    4
dtype: int64

In [92]:
result = sr11[~sr11.isin(sr22)]
result

0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

# 18. Write a pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series

In [95]:
import pandas as pd
import numpy as np
num_state = np.random.RandomState(100)
num_series = pd.Series(num_state.normal(10,4,20))
num_series

0      3.000938
1     11.370722
2     14.612143
3      8.990256
4     13.925283
5     12.056875
6     10.884719
7      5.719827
8      9.242017
9     11.020006
10     8.167892
11    11.740654
12     7.665620
13    13.267388
14    12.690883
15     9.582355
16     7.874878
17    14.118931
18     8.247458
19     5.526727
dtype: float64

In [96]:
result = np.percentile(num_series, q = [1,25,50,75,100])
result

array([ 3.480838  ,  8.09463867, 10.23353705, 12.21537733, 14.61214321])

# 19. Write a pandas program to calculate the frequency counts of each unique value of a given series

In [98]:
import pandas as pd
import numpy as np
num = np.random.randint(10,size = 40)
s = pd.Series(num)
s

0     0
1     0
2     7
3     7
4     9
5     9
6     1
7     0
8     5
9     3
10    3
11    3
12    5
13    3
14    9
15    4
16    6
17    6
18    5
19    7
20    6
21    4
22    5
23    7
24    5
25    8
26    6
27    4
28    1
29    1
30    6
31    9
32    8
33    2
34    9
35    8
36    8
37    5
38    4
39    7
dtype: int32

In [100]:
result = s.value_counts()
result

5    6
7    5
9    5
6    5
3    4
4    4
8    4
0    3
1    3
2    1
dtype: int64

# 20. Write a pandas program to display most frequent value in a given series and replace everythig else as 'other' in the series

In [104]:
import pandas as pd
import numpy as np
num = np.random.randint(1,5,size = 15)
s = pd.Series(num)
s

0     2
1     2
2     4
3     1
4     2
5     3
6     3
7     3
8     1
9     3
10    2
11    2
12    4
13    2
14    1
dtype: int32

In [106]:
result = s.value_counts()
result

2    6
3    4
1    3
4    2
dtype: int64

In [108]:
result = s[~s.isin(s.value_counts().index[:1])] = 'Other'
s

0     Other
1     Other
2     Other
3     Other
4     Other
5     Other
6     Other
7     Other
8     Other
9     Other
10    Other
11    Other
12    Other
13    Other
14    Other
dtype: object

# 21. Write a pandas program to find the positions of numbers that are multiples of 5 of a given series

In [ ]:
import