# Working with time series

# Dates and times in python

In [3]:
from datetime import datetime
datetime(year = 2022, month = 12, day = 11)

datetime.datetime(2022, 12, 11, 0, 0)

In [5]:
from dateutil import parser
date = parser.parse('11th of december, 2022')
date

datetime.datetime(2022, 12, 11, 0, 0)

In [7]:
date.strftime('%A')

'Sunday'

# Typed arrays of times : Numpy's datetime64

In [10]:
import numpy as np
date = np.array('2022-12-11', dtype = np.datetime64)
date

array('2022-12-11', dtype='datetime64[D]')

In [12]:
date+np.arange(12)

array(['2022-12-11', '2022-12-12', '2022-12-13', '2022-12-14',
       '2022-12-15', '2022-12-16', '2022-12-17', '2022-12-18',
       '2022-12-19', '2022-12-20', '2022-12-21', '2022-12-22'],
      dtype='datetime64[D]')

# Minute - based datetime

In [14]:
np.datetime64('2022-12-11 12:00')

numpy.datetime64('2022-12-11T12:00')

In [20]:
np.datetime64('2022-11-12 12:59:59.50','ns')

numpy.datetime64('2022-11-12T12:59:59.500000000')

# Dates and times in pandas : best of both worlds

In [22]:
import pandas as pd
date = pd.to_datetime('11th december,2022')
date

Timestamp('2022-12-11 00:00:00')

# Pandas time series : indexing by time

In [24]:
index = pd.DatetimeIndex(['2014-07-04','2022-08-04','2015-07-04','2015-08-04'])
data = pd.Series([0,1,2,3], index = index)
data

2014-07-04    0
2022-08-04    1
2015-07-04    2
2015-08-04    3
dtype: int64

In [26]:
data['2015']

2015-07-04    2
2015-08-04    3
dtype: int64

In [28]:
data['2014-07-04':'2015-07-04']

2014-07-04    0
2015-07-04    2
dtype: int64

# Pandas time series data structures

In [33]:
dates = pd.to_datetime([datetime(2015,12,13),'4th of july,2015','2015-jul-7','07-07-2015','20150708'])
dates

DatetimeIndex(['2015-12-13', '2015-07-04', '2015-07-07', '2015-07-07',
               '2015-07-08'],
              dtype='datetime64[ns]', freq=None)

In [35]:
dates.to_period('D')

PeriodIndex(['2015-12-13', '2015-07-04', '2015-07-07', '2015-07-07',
             '2015-07-08'],
            dtype='period[D]')

In [38]:
dates - dates[0]

TimedeltaIndex(['0 days', '-162 days', '-159 days', '-159 days', '-158 days'], dtype='timedelta64[ns]', freq=None)

# Regular sequances : pd.date_range()

In [41]:
pd.date_range('2015-07-03','2015-07-10')

DatetimeIndex(['2015-07-03', '2015-07-04', '2015-07-05', '2015-07-06',
               '2015-07-07', '2015-07-08', '2015-07-09', '2015-07-10'],
              dtype='datetime64[ns]', freq='D')

In [43]:
pd.date_range('2015-07-03',periods = 8)

DatetimeIndex(['2015-07-03', '2015-07-04', '2015-07-05', '2015-07-06',
               '2015-07-07', '2015-07-08', '2015-07-09', '2015-07-10'],
              dtype='datetime64[ns]', freq='D')

# pd.period_range()

In [45]:
pd.period_range('2015-07',periods = 8, freq = 'M')

PeriodIndex(['2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12',
             '2016-01', '2016-02'],
            dtype='period[M]')

# pd.timedelta_range()

In [48]:
pd.timedelta_range(0,periods = 10, freq = 'H')

TimedeltaIndex(['0 days 00:00:00', '0 days 01:00:00', '0 days 02:00:00',
                '0 days 03:00:00', '0 days 04:00:00', '0 days 05:00:00',
                '0 days 06:00:00', '0 days 07:00:00', '0 days 08:00:00',
                '0 days 09:00:00'],
               dtype='timedelta64[ns]', freq='H')

In [52]:
pd.timedelta_range(0,periods = 9, freq = '2H30T')

TimedeltaIndex(['0 days 00:00:00', '0 days 02:30:00', '0 days 05:00:00',
                '0 days 07:30:00', '0 days 10:00:00', '0 days 12:30:00',
                '0 days 15:00:00', '0 days 17:30:00', '0 days 20:00:00'],
               dtype='timedelta64[ns]', freq='150T')

In [53]:
from pandas.tseries.offsets import BDay
pd.date_range('2015-07-01', periods = 5,freq = BDay)

ValueError: Invalid frequency: <class 'pandas._libs.tslibs.offsets.BusinessDay'>